{% extends 'base.html.twig' %}
{% block body %}
    <div id="root"><div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}